# Ignora arquivos de projetos de outras IDEs (Code::Blocks)
*.cbp
*.layout

# Ignora executáveis gerados em C
*.out
*.o
*.exe
main
exercicios

# Ignora configurações locais do VS Code (opcional)
.vscode/